@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ededed;
  background: #09090b;
  font-family: system-ui, -apple-system, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
